@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
@using WebStoreASP.Models;
@{
    var prod = (List<Product>)ViewBag.Products;
    var authors = (List<Author>)ViewBag.Authors;
    var genres = (List<Genre>)ViewBag.Genres;
    var publishers = (List<Publisher>)ViewBag.Publishers;
    var categories = (List<Category>)ViewBag.Categories;

    var covers = (List<Cover>)ViewBag.Covers;


}






<div class="admin-container">
<form asp-action="AddBook" asp-controller="Admin" method="post" enctype="multipart/form-data" id="bookform">
    <h1>Add Book</h1><br/>
    <hr/>
    <label>Image:</label><br/>
    <input name="file" type="file" accept="image/jpeg"  required>
    <br/>
    <br/>
    <label>Name:</label><br/>
    <input name="name" type="text" required>
    <br/>
    <br/>
    <label>Price:</label><br/>
    <input name="price" type="number" step="0.01" required>
    <br/>
    <br/>
    <label>Description:</label><br/>
    <textarea form="bookform" name="description" style="width:100%;" required></textarea>
    <br/>
    <br/>
    <label>Author:</label><br/>
    <select id="author" name="author">
        @foreach (var item in authors)
        {
            <option value="@item.id">@item.name</option>
            
        }
        
    </select>
    <br/>
    <br/>
    <label>Publisher:</label><br/>
    <select id="publisher" name="publisher">
        @foreach (var item in publishers)
        {
            <option value="@item.id">@item.name</option>
            
        }
    </select>
    <br/>
    <br/>
    <label>Category:</label><br/>
    <select id="category" name="category">
            @foreach (var item in categories)
            {
                <option value="@item.id">@item.name</option>
            
            }
    </select>
    <br/>
    <br/>
    <label>Genre:</label><br/>
    <select id="genre" name="genre">
            @foreach (var item in genres)
            {
                <option value="@item.id">@item.name</option>
            
            }
    </select>
    <br/>
    <br/>
    <button type="submit" style="background-color: #1c87c9; color: #ffffff;" >Upload</button>
</form>

</div>