@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Book";
}
@using WebStoreASP.Models;
@{


    var products = (List<Product>)ViewBag.Products;
    var authors = (List<Author>)ViewBag.Authors;
    var genres = (List<Genre>)ViewBag.Genres;
    var publishers = (List<Publisher>)ViewBag.Publishers;

    var covers = (List<Cover>)ViewBag.Covers;




}






<div class="box">


            @foreach(var prod in products){

            <div class="card-box">
                <img alt="" src="@covers.Find(c=>prod.cover_id==c.id).content" class="cover-box"/>
                <div class="info-box">
                    <div class="name-box">@prod.name</div>
                    <div class="author-box">@authors.Find(i=>i.id==prod.author_id).name</div>
                </div>
                <div class="price-box">@prod.price ₴</div>
                <form method="post">
                    <input type="text" name="book_id" value="@prod.id" style="display:none;"></input>
                    <button style="border:none;"><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png" style="width:30px; height:30px;" /></button>
                </form>

            </div>

            }


</div>
