@{
    ViewData["Title"] = "Home Page";
}
@using WebStoreASP.Models;
@{
    var prod = (List<Product>)ViewBag.Products;
    var authors = (List<Author>)ViewBag.Authors;
    var genres = (List<Genre>)ViewBag.Genres;
    var publishers = (List<Publisher>)ViewBag.Publishers;
}

@*<div class="products">

    @foreach (var item in prod)
    {
    <div class="product">
        <h2>
            @item.name
        </h2>
        <br/>
        <code>
            @item.category_id
        </code>
        <hr/>
        <p>
            @item.price
        </p>

    </div>

    }
</div>
*@
            <form id="form"> 
                <input type="search" id="query" name="q" placeholder="Search...">
                <button>Search</button>
            </form>

            <main>

            <div class="sidesort">
                <div class="authors">
                    @foreach(var author in authors){
                        <div class="item">@author.name</div>
                
                    }
                </div>
                <div class="publishers">
                    @foreach(var publisher in publishers){
                        <div class="item">@publisher.name</div>
                
                    }
                </div>
            </div>    

            <div class="books">
                @foreach(var item in prod){
                    <div class="book">
                        <div class="cover"> </div>
                        
                        <div class="name">@item.name</div>
                        <div class="author">@authors.Where(a=>a.id==@item.author_id).First().name</div>
                        <div class="publisher">@publishers.Where(p=>p.id==@item.publisher_id).First().name</div>

                        <div class="price">@item.price</div>


                        <a  href="Home/Book?id=@item.id"  id="@item.id"  name="id" value="@item.id"><button class="book-order" >КУПИТЬ</button></a>


                    </div>
                }
            </div>

        </main>
