@{
    ViewData["Title"] = "Home Page";
}
@using WebStoreASP.Models;
@{
    var prod = (List<Product>)ViewBag.Products;
    var authors = (List<Author>)ViewBag.Authors;
    var genres = (List<Genre>)ViewBag.Genres;
    var publishers = (List<Publisher>)ViewBag.Publishers;
    var categories = (List<Category>)ViewBag.Categories;

    var covers = (List<Cover>)ViewBag.Covers;




    var aus = (List<string>)ViewBag.Aus;
    var cat = (List<string>)ViewBag.Cat;
    var gen = (List<string>)ViewBag.Gen;
    var pub = (List<string>)ViewBag.Pub;





}
            

            <div  class="index-search">
                <form id="form"> 
                    <input type="search" id="query" name="q" placeholder="Поиск...">
                    <button>Поиск</button>
                </form>
            </div>
            <main>

            <div class="sidesort">
                    <form method="post">
                        <div class="authors">
                                <h4>Категории</h4>
                                @foreach(var item in categories){
                                    <div>
                                        @if (cat.Any(id => id == item.id.ToString())) { 
                                            <input type="checkbox" name="category[]" class="item" value="@item.id" checked/>
                                        }
                                        else{
                                            <input type="checkbox" name="category[]" class="item" value="@item.id"/>    
                                        }
                                        <label for="category[]">@item.name  (@prod.Where(p=>p.category_id==item.id).Count())</label>
                                    </div>
                                }
                        </div>

                        <div class="authors">
                                    <h4>Жанры</h4>
                                @foreach(var item in genres){
                                    <div>
                                        @if (gen.Any(id => id == item.id.ToString())) { 
                                            <input type="checkbox" name="genre[]" class="item" value="@item.id" checked/>
                                        }
                                        else{
                                            <input type="checkbox" name="genre[]" class="item" value="@item.id"/>   
                                        }

                                        <label for="genre[]">@item.name (@prod.Where(p=>p.genre_id==item.id).Count())</label>
                                    </div>
                                }
                        </div>


                        <div class="authors">
                                        <h4>Авторы</h4>
                                @foreach(var item in authors){
                                    <div>
                                        @if (aus.Any(id => id == item.id.ToString())) { 
                                             <input type="checkbox" name="author[]" class="item" value="@item.id" checked/>
                                        }
                                        else{
                                             <input type="checkbox" name="author[]" class="item" value="@item.id"/>
                                        }


                                       
                                        <label for="author[]">@item.name (@prod.Where(p=>p.author_id==item.id).Count())</label>
                                    </div>
                                }
                        </div>

                       <div class="authors">
                                        <h4>Издатели</h4>
                                @foreach(var item in publishers){
                                    <div>
                                        @if (pub.Any(id => id == item.id.ToString())) { 
                                             <input type="checkbox" name="publisher[]" class="item" value="@item.id" checked/>
                                        }
                                        else{
                                             <input type="checkbox" name="publisher[]" class="item" value="@item.id"/>
                                        }
                                        
                                        <label for="publisher[]">@item.name (@prod.Where(p=>p.publisher_id==item.id).Count())</label>
                                    </div>
                                }
                        </div>
                                <input type="submit" value="Choose"/>

                   </form>
                                </br> 
                                <a asp-area="" asp-controller="Home" asp-action="Index">Cбросить</a>
            </div>    

    @if (prod.Count != 0)
    {
        <div class="books">
            @foreach (var item in prod)
            {
                <div class="book">
                    @*<div class="cover"> </div>*@
                        <img alt="" src="@covers.Find(c=>item.cover_id==c.id).content" class="cover"/>
                        
                        <div class="name">@item.name</div>
                        <div class="author">@authors.Where(a=>a.id==@item.author_id).First().name</div>
                        <div class="publisher">@publishers.Where(p=>p.id==@item.publisher_id).First().name</div>

                        <div class="price">@item.price ₴</div>


                        <a  href="Home/Book?id=@item.id"  id="@item.id"  name="id" value="@item.id"><button class="book-order" >КУПИТЬ</button></a>


                    </div>
                }
            </div>
        }
        </main>
